<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Consumos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let consumo of consumos">
      <ion-label>
        {{ consumo.nombre }} - Estado: {{ consumo.estado ? 'Encendido' : 'Apagado' }}
      </ion-label>
      <ion-toggle [(ngModel)]="consumo.estado" (ionChange)="toggleEstado(consumo)"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-button expand="full" routerLink="/usuarios">Gestión de Usuarios</ion-button>
  <ion-button expand="full" routerLink="/grupos">Gestión de Grupos</ion-button>
  <ion-button expand="full" routerLink="/programacion">Programar Horarios</ion-button>
</ion-content>
